<%- include ../../temp/header.ejs %>
<%- include ../../temp/nav.ejs %>
<div class="page-content d-flex align-items-stretch">
<%- include ../../temp/sidebar.ejs %>
<div class="content-inner" style="padding-bottom: 59px;">
          <!-- Page Header-->
          <header class="page-header">
                      <div class="container-fluid">
                        <h2 class="no-margin-bottom">Operation Overview</h2>
                      </div>
          </header>

          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Operation Overview </li>
            </ul>
          </div>



          <section class="forms">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-2">

                    <div class="card">
                      <div class="card-header">
                        <h4>Fleet</h4>
                      </div>
                        <div class="card-body">
                          <ul>
                            <li>Mercedes Benz - V-Klass <div class="badge badge-rounded bg-green">PPX-26</div></li>
                            <li>Mercedes Benz - V-Klass <div class="badge badge-rounded bg-green">PPX-26</div></li>
                          </ul>
                        </div>
                  </div>

                </div>

                  <!-- Inline Form-->
                  <div class="col-lg-10">


                    <div class="card">
                <div class="card-header">
                  <h4>Calendar</h4>
                </div>
                <div class="card-body">
                  <div id="calendar" class="fc fc-bootstrap3 fc-ltr"></div>
              </div>




                    </div>

                </div>

              </div>
              </section>




<%- include ../../temp/footer.ejs %>
