<!-- Page Footer-->
<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>Deluxe Iceland &copy; 2015-2018</p>
      </div>
    </div>
  </div>
</footer>
</div>
</div>
</div>
<!-- JavaScript files-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/javascripts/datepicker.min.js"></script>
<!-- Notifications-->
<script src="/vendor/messenger-hubspot/build/js/messenger.min.js">   </script>
<script src="/vendor/messenger-hubspot/build/js/messenger-theme-flat.js">       </script>
<script src="/javascripts/home-premium.js"> </script>
<!-- Loading buttons-->
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-4/vendor/ladda/spin.min.js">   </script>
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-4/vendor/ladda/ladda.min.js">     </script>
    <script src="https://d19m59y37dris4.cloudfront.net/admin-premium/1-4-4/js/components-ladda.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<!-- Main File-->
<script src="/javascripts/moment.min.js"></script>
<script src="/javascripts/fullcalendar.min.js"></script>
<script src="/javascripts/calendar.js"></script>
<script src="/javascripts/summernote.js"></script>
<script src="/javascripts/text-editor.js"></script>
<script src="/javascripts/masknumber.js"></script>
<script src="/javascripts/front.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
</body>
</html>
